import ApiManager from '../ApiManager'

/**
 * ====================
 * - {apiName} File
 * - Description: {description}
 * - Created with Shoot!
 * ====================
 */

export default {
  //shootMark
}
