/**
 * summary: {summary}
 * 
{description}
 * @returns return
 */
  {funcName} ({data}) {
    const data = {
      url: {url},
      {header}
      params: {
        {params}
      }
    }
  
    return ApiManager.{method}(data)
  },
  //shootMark