/**
 * summary: {summary}
 * 
 * @param {Function} data data
 * @returns return
 */
  {funcName} ({data}) {
    const params = {
      url: {url},
      {header}
      body: {
        {params}
      }
    }
  
    return new Promise((resolved, reject) => {
      ApiManager.{method}(params, res => resolved(res.data), err => reject(err))
    })
  },
  //shootMark